body {
  background-color: #aec6ff;
}
.toy {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  z-index: -1;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.doctor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 350px;
  z-index: -1;
}

.sand {
  z-index: -100;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 250px;
}
.logo {
  margin-top: 100px;
  background-color: #d90429;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #a7abb3;
  align-items: center;
}
.header-logo {
    height: 134px;
}

.header-btn {
  border: 1px solid #30362f;
  border-radius: 10px;
  background-color: #aec6ff;
  color: #4c4a49;
  font-size: 35px;
  padding: 0 55px;
  height: 68px;
}

.modal {
  background-color: rgba(0,0,0, .5);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}
.modal.show{
    opacity: 1;
    pointer-events: all;
}

.modal-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #d90429;
  border-radius: 20px;
}
.modal-header{
  color: #d7af9b;
  display: flex;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 15px;
  justify-content:space-between;
}
.modal-submit-btn{
  align-self: center;
  width: fit-content;
  border: 1px solid #30362f;
  border-radius: 10px;
  background-color: #aec6ff;
  color: #4c4a49;
  font-size: 35px;
  padding: 0 55px;
  height: 68px;
  margin: 15px;
}
.modal-cancel-btn{
  color: #d7af9b;
  border: 1px solid #30362f;
  border-radius: 10px;
  background-color: #aec6ff;
  color: #4c4a49;
  font-size: 35px;
  padding: 0 55px;
  height: 68px;
  margin: 15px;
}
.filter-search{
  margin: 15px 0px;
    display: block;
    padding: 10px 75px;
    margin-right: 15px;
    font-size: 16px;
    background-color: #D6D5C9;
    border: none;
    border-radius: 12px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}
.no-margin{
margin-left: 0;
}
.modal-header i{
  font-size: 30px;
}
.modal-cancel-btn{
  font-weight: 600q;
}

form {
    text-align: center;
}
.form-horizontal{
  display: flex;
  flex-direction: column;
}
.header{
  font-size: 50px;
}
.form-control {
  margin: 15px 130px;
  display: block;
  padding: 10px 75px;
  font-size: 16px;
  background-color: #D6D5C9;
  border: none;
  border-radius: 12px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.create-visit-btn{
    display: none;
}

.filter {
    display: flex;
}
.wrapper-cards{
    display:flex;
    padding: 0 40px;
    flex-wrap: wrap;
}


.no-items{
    display:flex;
    justify-content:center;
    color:  #17a2b8;
    font-size: 30px;
    width: 100%;

}

.card {
    background-color: #d90429;
    color: #fff;
    padding: 30px;
    margin-top: 15px;
    margin-right: 15px;
    height: 100%;
    border-radius: 10px;
}
.card-btn-load{
cursor: pointer;
color: #d7af9b;
margin-top: 5px;
padding: 5px;
    text-align: center;
    border-radius: 8px;
    width: 100px;
    background-color: #fff;
}

.card-body {
    display: none;
}



